{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="fw-bold text-success text-center mb-4">About Us</h3>
    <div class="row">
        <div class="col">
            <p class="fs-5 text-muted text-justify">
                <strong>MyBookStore</strong> is a digital platform designed to bring readers and learners together. Our mission is to
                make books accessible to everyone, from casual readers to passionate researchers.
                <br><br>
                Whether you're interested in general knowledge, immersive stories, or in-depth study materials, we've
                got a curated collection just for you. Users can explore books, read reviews, and even borrow physical copies.
                <br><br>
                Our goal is to foster a reading community that thrives on knowledge sharing and intellectual curiosity.
                We're more than just a bookstore — we're a hub for lifelong learning and book lovers alike.
            </p>
        </div>
    </div>
</div>
{% endblock %}